@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Tauri&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tauri&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 1 to 1000

.ysabeau-infant-<uniquifier> {
  font-family: "Ysabeau Infant", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .wix-madefor text-<uniquifier> {
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
@layer utilities {
  .client-shadow {
    box-shadow: 0px 54.47927474975586px 64.09326171875px 0px
      rgba(205, 205, 205, 0.29);
  }

  .feature-shadow {
    box-shadow: 0px 54.47927474975586px 64.09326171875px 0px #6640ff29;
  }

  .client-shadow-hover {
    box-shadow: 5px 74.47927474975586px 84.09326171875px 10px;
    cursor: pointer;
    border: #6640ff29;
  }
}

body {
  margin: 0;
}
